%section.my_queue.container
  .row
    .span10.offset1
      %article
        %header
          %h2 My Queue
        = form_tag update_multiple_path, method: :put do
          %table.table
            %thead
              %tr
                %th(width="10%") List Order
                %th(width="30%") Video Title
                %th(width="10%") Play
                %th(width="20%") Rating
                %th(width="15%") Genre
                %th(width="15%") Remove
            %tbody
              - @queuings.each do |queuing|
                %tr
                  = hidden_field_tag "queuing_updates[][id]", queuing.id
                  %td
                    = text_field_tag "queuing_updates[][position]", queuing.position
                  %td
                    = link_to queuing.video_title, queuing.video
                  %td
                    = button_to "Play", nil, class: "btn"
                  %td
                    = queuing.user_rating
                  %td
                    = link_to queuing.category_name, queuing.category
                  %td
                    = link_to queuing, method: :delete, confirm: "Are you sure you want remove #{queuing.video_title} from your queue?" do
                      %i.icon-remove
          = submit_tag "Update Instant Queue", class: "btn"