%section.invite.container
  .row
    .span10.offset1
      = form_tag invite_friends_path do
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = label_tag :friend_name, "Friend's Name"
          = text_field_tag :friend_name
          = label_tag :friend_email, "Friend's Email Address"
          = email_field_tag :friend_email
          = label_tag :message, "Invitation Message"
          = text_area_tag :message, "Please join this really cool site!", {:rows => 6, :class => "span4"}
        %fieldset.action
          %input(type="submit" value="Send Invitation" class="btn")