%section#top-header.row
  - if logged_in?
    %h1.span2
      = link_to "MyFLiX", home_path
    %ul.span4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", queuings_path
      %li= link_to "People", followings_path
    =form_tag search_videos_path, class: "span5 for-search" do
      %input.search-query(type="text" name="q" placeholder="Search for videos here")
      %button.btn(type="submit") Search
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.name}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to "Invite Friends", invitations_path
              %a(href="#") Account
              %a(href="#") Plan and Billing
              = link_to "Sign Out", logout_path
  - else
    %h1.span2
      = link_to "MyFLiX", '/'